#join-card-container {
    width: 432px;
    padding: 16px 20px 20px;
    display: flex;
    position: relative;
    overflow: inherit;
    margin-top: 80px;
    align-items: center;
}
.heading {
    font-size: 15px;
    color: black;
}


#create-card-container {
    width: 432px;
    padding: 16px 20px 20px;
    display: flex;
    position: relative;
    overflow: inherit;
    margin-top: 80px;
    align-items: center;
}

.card-content-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

.subtext {
    text-align: center;
}

button {

}

.description {
    text-align: center;
    color: black;
}

.small_description {
    color:black;
    font-size: 5px;
}